extends layout

block content

    a(href='/') Home
    br
    a(href='/#{user._id}/recommendations') Recommendations
    br
    a(href='/#{user._id}/footprints') Footprints
    br
    a(href='/#{user._id}') Profile
    br
    a(href='/') Logout
    br

    h1 Preferences
    form(method='POST', action=action)
        label Your partner's username:
        input(name='partner', type='text', value=user.partner)
        br
        label Types of cuisines you like:
        //select
        //    each cuisine, c in tags.enum
        //        option(value=c) #{cuisine.name}
        //br
        //label Genres of movies you like:
        //select
        //    each genre, g in tags.enum
        //        option(value=g) #{genre.name}
        //br
        //label Types of cuisines you like:
        //select
        //    each event, e in tags.enum
        //        option(value=e) #{event.name}
        br
        input(type='submit')